################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug/SEHExamplesStart.obj
/Debug/MySEH.tlog/MySEH.lastbuildstate
/Debug/MySEH.tlog/link.write.1.tlog
/Debug/MySEH.tlog/link.read.1.tlog
/Debug/MySEH.tlog/link.delete.1.tlog
/Debug/MySEH.tlog/link.command.1.tlog
/Debug/MySEH.tlog/CL.write.1.tlog
/Debug/MySEH.tlog/CL.read.1.tlog
/Debug/MySEH.tlog/CL.command.1.tlog
/Debug/MySEH.tlog
/Debug/MySEH.pdb
/Debug/MySEH.log
/Debug/MySEH.lastbuildstate
/Debug/MySEH.ilk
/Debug/MySEH.exe
/Debug/MySEH.Build.CppClean.log
/Debug/LinkExample.obj
/Debug/link.write.1.tlog
/Debug/link.read.1.tlog
/Debug/link.command.1.tlog
/Debug/link.980.write.1.tlog
/Debug/link.980.read.1.tlog
/Debug/link.980-rc.write.1.tlog
/Debug/link.980-rc.read.1.tlog
/Debug/link.980-cvtres.write.1.tlog
/Debug/link.980-cvtres.read.1.tlog
/Debug/link.6784.write.1.tlog
/Debug/link.6784.read.1.tlog
/Debug/link.6784-rc.write.1.tlog
/Debug/link.6784-rc.read.1.tlog
/Debug/link.6784-cvtres.write.1.tlog
/Debug/link.6784-cvtres.read.1.tlog
/Debug/link.5472.write.1.tlog
/Debug/link.5472.read.1.tlog
/Debug/link.5472-rc.write.1.tlog
/Debug/link.5472-rc.read.1.tlog
/Debug/link.5472-cvtres.write.1.tlog
/Debug/link.5472-cvtres.read.1.tlog
/Debug/link.5268.write.1.tlog
/Debug/link.5268.read.1.tlog
/Debug/link.5268-rc.write.1.tlog
/Debug/link.5268-rc.read.1.tlog
/Debug/link.5268-cvtres.write.1.tlog
/Debug/link.5268-cvtres.read.1.tlog
/Debug/link.4352.write.1.tlog
/Debug/link.4352.read.1.tlog
/Debug/link.4352-rc.write.1.tlog
/Debug/link.4352-rc.read.1.tlog
/Debug/link.4352-cvtres.write.1.tlog
/Debug/link.4352-cvtres.read.1.tlog
/Debug/link.4348.write.1.tlog
/Debug/link.4348.read.1.tlog
/Debug/link.4348-rc.write.1.tlog
/Debug/link.4348-rc.read.1.tlog
/Debug/link.4348-cvtres.write.1.tlog
/Debug/link.4348-cvtres.read.1.tlog
/Debug/link.2132.write.1.tlog
/Debug/link.2132.read.1.tlog
/Debug/link.2132-rc.write.1.tlog
/Debug/link.2132-rc.read.1.tlog
/Debug/link.2132-cvtres.write.1.tlog
/Debug/link.2132-cvtres.read.1.tlog
/Debug/link.1708.write.1.tlog
/Debug/link.1708.read.1.tlog
/Debug/link.1708-rc.write.1.tlog
/Debug/link.1708-rc.read.1.tlog
/Debug/link.1708-cvtres.write.1.tlog
/Debug/link.1708-cvtres.read.1.tlog
/Debug/link-rc.write.1.tlog
/Debug/link-rc.read.1.tlog
/Debug/link-cvtres.write.1.tlog
/Debug/link-cvtres.read.1.tlog
/Debug/ExampleOne.obj
/Debug/Example8.obj
/Debug/Example7.obj
/Debug/Example6.obj
/Debug/Example5.obj
/Debug/Example4.obj
/Debug/Example3.obj
/Debug/Example2.obj
/Debug/DestrException2.obj
/Debug/DestrException.obj
/Debug/CopyConstructor.obj
/Debug/Construction.obj
/Debug/ConstrException.obj
/Debug/CL.write.1.tlog
/Debug/CL.read.1.tlog
/Debug/cl.command.1.tlog
/Debug/Access.obj
/Debug
/.vs/MySEH/v15/ipch/AutoPCH/c8b6de6e17167707/SEHEXAMPLESSTART.ipch
/.vs/MySEH/v15/ipch/AutoPCH/c8b6de6e17167707
/.vs/MySEH/v15/ipch/AutoPCH/9ecb7a122626c48b/VIRTUALDESTRUCTOR.ipch
/.vs/MySEH/v15/ipch/AutoPCH/9ecb7a122626c48b
/.vs/MySEH/v15/ipch/AutoPCH/9326473a44b933b6/EXAMPLEONE.ipch
/.vs/MySEH/v15/ipch/AutoPCH/9326473a44b933b6
/.vs/MySEH/v15/ipch/AutoPCH/6394028849399934/UNIQUEPTR.ipch
/.vs/MySEH/v15/ipch/AutoPCH/6394028849399934
/.vs/MySEH/v15/ipch/AutoPCH/55413881a1357066/LAMBDAPOINTER.ipch
/.vs/MySEH/v15/ipch/AutoPCH/55413881a1357066
/.vs/MySEH/v15/ipch/AutoPCH
/.vs/MySEH/v15/Browse.VC.db
/.vs/MySEH/v15/.suo
/.vs/MySEH/v15
/.vs/MySEH/v14/.suo
/.vs/MySEH/v14
/.vs/MySEH
/Release/vc141.pdb
/Release/SEHExamplesStart.obj
/Release/MySEH.tlog/MySEH.write.1u.tlog
/Release/MySEH.tlog/MySEH.lastbuildstate
/Release/MySEH.tlog/link.write.1.tlog
/Release/MySEH.tlog/link.read.1.tlog
/Release/MySEH.tlog/link.command.1.tlog
/Release/MySEH.tlog/CL.write.1.tlog
/Release/MySEH.tlog/CL.read.1.tlog
/Release/MySEH.tlog/CL.command.1.tlog
/Release/MySEH.pdb
/Release/MySEH.log
/Release/MySEH.ipdb
/Release/MySEH.iobj
/Release/MySEH.exe
/Release/LinkExample.obj
/Release/ExampleOne.obj
/Release/Example8.obj
/Release/Example7.obj
/Release/Example6.obj
/Release/Example5.obj
/Release/Example4.obj
/Release/Example3.obj
/Release/Example2.obj
/Release/DestrException2.obj
/Release/DestrException.obj
/Release/CopyConstructor.obj
/Release/Construction.obj
/Release/ConstrException.obj
/Release/CallMeDemo2.obj
/Release/CallMeDemo1.obj
/Release/Access.obj
